[submodule "GalgelegPHPServer"]
	path = GalgelegPHPServer
	url = https://github.com/SirDancealot/GalgelegPHPServer.git
[submodule "rest-service"]
	path = rest-service
	url = https://github.com/DovendyretS/rest-service.git
